---
title: "JWD - People"
---
<!--
  Created on 6/22/2020 by Duytan Tran
  Edited 6/23/2020 by Duytan Tran: removed alumni list and replaced w/ p
  Edited on 6/24/2020 by Reema Gupta: included css for heading
  Edited on 6/24/2020 by Duytan Tran: Added a student degree data table
  Edited on 6/25/2020 by Reema Gupta: added font_scheme class for font
  Edited on 6/25/2020 by Duytan Tran: Fixed font_scheme addition affecting adjacent elements, embedded ruby code for
                                      list generation
  People page.
-->
<div class="current_students" >
  <div class="title">
  <h1>Current Students</h1>
  </div>
  <div id="adjacent_container" class="font_scheme">
    <div class="current_list">
      <ul>
        <%# Loops through currentStudentList and prints out relevant html tags for list %>
        <% content = File.readlines(File.join(Dir.pwd, 'source/listdata/currentStudentList')) %>
        <% s_data = { 'B': 0, 'M': 0, 'P': 0, 'BM': 0, 'MP': 0} %>
        <% i = 0 %>
        <% while i < content.length %>
          <li><span><%=content[i] %></span><%=content[i+1] %></li>
          <%#Calculates total degrees across current students for data table %>
          <% case content[i+1].split.first
             when "B.S." %>
          <%s_data[:B] += 1 %>
          <% when "M.S." %>
          <%s_data[:M] += 1 %>
          <% when "Ph.D." %>
          <%s_data[:P] += 1 %>
          <% when "B.S./M.S." %>
          <%s_data[:BM] += 1 %>
          <% when "M.S./Ph.D." %>
          <%s_data[:MP] += 1 %>
          <% end %>
          <% i += 2 %>
        <% end %>
      </ul>
    </div>
    <div class="deg_table">
      <table>
        <caption>Student Degree</caption>
        <tr>
          <th>Degree(s)</th>
          <th>Count(s)</th>
        </tr>
        <tr>
          <td>B.S.</td>
          <td><%=s_data[:B] %></td>
        </tr>
        <tr>
          <td>M.S.</td>
          <td><%=s_data[:M] %></td>
        </tr>
        <tr>
          <td>Ph.D.</td>
          <td><%=s_data[:P] %></td>
        </tr>
        <tr>
          <td>B.S./M.S.</td>
          <td><%=s_data[:BM] %></td>
        </tr>
        <tr>
          <td>M.S./Ph.D.</td>
          <td><%=s_data[:MP] %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="alumni">
  <div class="title">
  <h2>Alumni</h2>
  </div>
  <div class="font_scheme">
    <%# Loops through alumniList and prints out relevant html tags for list %>
    <% content = File.readlines(File.join(Dir.pwd, 'source/listdata/alumniList')) %>
    <% i = 0 %>
    <% while i < content.length %>
    <p class="name"><span><%=content[i] %></span>
      <% if content[i+1] == "\n" %>
        </p>
      <% else %>
        , <%=content[i+1] %></p>
      <% end %>
      <% unless content[i+2] == "\n" %>
        <p><%=content[i+2] %></p>
      <% end %>
      <% i += 3 %>
    <% end %>
  </div>
</div>

